@import url(http://weloveiconfonts.com/api/?family=fontawesome);

a[class*="fontawesome-"]:before,
span[class*="fontawesome-"]:before {
	display: block;
	font-family: 'FontAwesome', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color:  #f3f3f3;
}

header {
	color: white;
	font-family: 'Open Sans', sans-serif;
	height: 97px;
	background: #A65980 url(../images/Path.png) center bottom repeat-x;

	.logo {
		text-decoration: none;
		font-weight: 700;
		font-size: 28px;
		line-height: 3.4;
		margin-left: 10%;
		display: inline;

		span {
			font-weight: 400;
			font-size: 23px;
		}
	}

	nav {
		padding: 1.5% 0;
		position: relative;
		float: right;
		margin-right: 15%;

		display: inline-block;

		.nav {
			position:  relative;
			display: inline;

			& > li {
				position: relative;
				display: inline-block;
				margin-right: 14px;
				height: 40px;
				line-height: 40px;
				border-radius: 5px;
				width: 117px;
				text-align: center;
				font-size: 15px;
				cursor: pointer;

				a{
					text-decoration: none;
					color: white;
				}

				ul {
					position: absolute;
					background-color: #20A8DA;
					border-radius: 4px;
					margin-top: 8px;
					opacity: 0;
					transition:all ease-in-out 0.4s;
					z-index: 3;

					&:after {
					content: "";
					position: absolute;
					left: 10px;
					border-width: 0px 6px 8px;
					border-style: solid;
					border-color: #20A8DA transparent;
					display: block;
					width: 0;
					top: -8px;
					}

					li {
						width: 218px;
						height: 30px;
						text-align: center;
						margin-top: 5px;
						margin-right: 5px;
						margin-left: 5px;
						margin-bottom: 2.5px;
						background-color: #37B1DE;
						line-height: 27px;
						border-radius: 4px;
						cursor: pointer;

						a {
							padding-left: 5px;
						}

						&:hover {
							background-color: #A65980;
						}

						&:first-child {
							margin-top: 7.5px;
						}

						&:last-child {
							margin-bottom: 7.5px;
						}
					}
				}

				&:first-child {
					background-color: #8B4A6B;
					box-shadow: 0px 3px 0px #743E59;
				}

				&:hover {
					background-color: #37B1DE;
					box-shadow: 0px 3px 0px #20A8DA;

					ul {
						opacity: 1;
						margin-top: 20px;
					}
				}
			}

		}
	}
}

.slider_block {
	position: relative;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	
	
	
	.slider{

		.slider_item {

			position: relative;
			width: 100%;
			text-align: center;
			min-height: 500px;


			h1 {
				font-size: 50px;
				font-weight: 700;
				width: 313px;
				color: white;
				background-color: #20A8DA;
				border-radius: 5px;
				margin: 0 auto;
				margin-bottom: 10px;
				margin-top: 185px;
			}

			.text {
				border-radius: 5px;
				color: white;
				background-color:  rgba(0, 0, 0, 0.5);
				width: 470px;
				height: 70px;
				font-size: 16px; 
				font-weight: 400;
				line-height: 25.6px;
				margin: 0 auto;
				margin-top: 15px;

				p {
					line-height: 1.5;
					padding-top: 8px;
					width: 420px;
					margin: 0 auto;
				}
			}

			

			&.first {
				background: url(../images/first_image.jpg) center center no-repeat;
			}

			&.second {
				background: url(../images/second_image.jpg) center center no-repeat;
			}

			&.third {
				background: url(../images/third_image.jpg) center center no-repeat;
			}
		}
	}

	.bx-pager {
		text-align: center;
		padding: 20px 0;


		.bx-pager-item {

			display: inline-block;

			a {
				display: block;
				width: 60px;
				height: 5px;
				text-indent: -9999px;
				background-color:  #b0b8b9;

				&.active {
					background-color: #20A8DA;
				}
			}

			&:nth-child(1) {
				margin-right: 8px;
			}
			&:nth-child(2) {
				margin-right: 8px;
			}
		}
	}

	#slider-prev {
		position: absolute;
		width: 50px;
		height: 62px;
		top: 42%;
		background-color: #37B1DE;
		border-radius: 0px 5px 5px 0px;
		cursor: pointer;

		i {
			z-index: 1;
			position: absolute;
			color: white;
			font-size: 45px;
			line-height: 1.3;
			right: 15px;
		}

		a {
			width: 50px;
			height: 62px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 2;
		}
	}

	#slider-next {
		position: absolute;
		width: 50px;
		height: 62px;
		top: 42%;
		background-color: #37B1DE;
		border-radius: 5px 0px 0px 5px;
		cursor: pointer;
		right: 0;

		i {
			z-index: 1;
			position: absolute;
			color: white;
			font-size: 45px;
			line-height: 1.3;
			right: 10px;
		}
		a {
			width: 50px;
			height: 62px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			z-index: 2;
		}
	}
}


.top_services {
	width: 1170px;
	margin: 0 auto;
	background-color:  #ececec;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	height: 100px;

	.text_container {
		display: inline-block;
		width: 888px;
		position: relative;
		top: 15px;
		left: 35px;

		h2 {
			color:  #7f8c8c;
			font-size: 30px;
			padding-bottom: 10px;
		}

		p {
			color:  #777777;
		}
	}

	a {
			display: inline-block;
			width: 200px;
			height: 50px;
			background-color: #26B9E1;
			text-align: center;
			text-decoration: none;
			color: white;
			border-radius: 5px;
			font-size: 20px;
			font-weight: 600;
			line-height: 50px;
			box-shadow: 0px 3px 0px #20A8DA;
			position: relative;
			left: 45px;
			bottom: 12px;

			&:hover{
				background-color: #37B1DE;
			}
	}
}

.services_block {
	width: 1170px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	padding: 100px 0px;

	div {
		width: 270px;
		height: 345px;
		display: inline-block;
		background-color:  #f8f8f8;
		text-align: center;
		vertical-align: top;
		border-radius: 5px;
		box-shadow: 0px 5px 0px #E3E4E4;
		position: relative;
		cursor: pointer;
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}

		i {
			font-size: 60px;
			color: #A65980;
			padding-top: 60px;
		}

		h2 {
			color:  #7f8c8c;
			font-weight: 700;
			font-size: 19px;
			padding: 15px 0px;
		}

		p {
			color:  #777777;
			padding: 10px 13px;
			font-size: 15px;
			line-height: 20px;
		}

		a {
			display: block;
			width: 200px;
			height: 50px;
			margin: 0 auto;
			position: absolute;
			background-color: #B86B99;
			bottom: -25px;
			color: white;
			text-decoration: none;
			line-height: 45px;
			border-radius: 5px;
			left: 32px;
			box-shadow: 0px 3px 0px #743E59;
		}

		&:hover {
			background-color:  #ffffff;

			a {
				background-color: #26B9E1;
				box-shadow: 0px 3px 0px #20A8DA;
				
				&:hover {
					background-color: #37B1DE;
				}
			}
		}
	}
}

.gallery_block {
	font-family: 'Open Sans', sans-serif;
	background:  #ececec url(../images/path_2.png) top center repeat-x;
	margin: 0 auto;
	text-align: center;
	height: 400px;

	h1 {
		color: #20A8DA;
		font-size: 42px;
		padding-top: 85px;
		font-weight: 600;
	}

	p {
		color:  #777777;
	}

	.gallery {
		position: relative;
		bottom: -30%;

		img {
			width: 385px;
			height: 260px;
			border-radius: 5px;
			cursor: pointer;

			&.active_image {
				box-shadow: 5px 10px 100px black;
			  transform: scale(1.5,1.5);
			  z-index: 20;
			  transition: all ease-in-out 0.5s;
			}

		}
	}
}

.statistics_block {
	height: 100px;
	width: 1170px;
	margin: 0 auto;
	padding-top: 270px;
	background-color:  #f3f3f3;

	.choose_us {
		font-family: 'Open Sans', sans-serif;
		width: 290px;
		display: inline-block;

		h1 {
			color:  #7f8c8c;
			font-weight: 700;
			font-size: 20px;
		}

		ul {
			padding-top: 30px;

			li {
				color:  #777777;
				padding-top: 10px;
				font-size: 15px;

				i {
					color: #A65980;
					padding-right: 10px;
					font-size: 14px;
				}

				
			}
		}
	}

	.progress_block {
		width: 580px;
		display: inline-block;
		vertical-align: top;
		font-family: 'Open Sans', sans-serif;

		p {
			padding-bottom: 53px;
			color: #777777;
			width: 90%;
			margin: 0 auto;
			text-align: justify;
			font-size: 15px;
			line-height: 20px;
		}

		.progress {
			display: inline-block;
			display: inline-block;
			padding-right: 14px;


			&:last-child {
				padding-right: 0;
			}

			.meter {
				background-color: gray;
				width: 120px;
				height: 58px;
				position: relative;
				border-radius: 120px 120px 0px 0px;

				.inner {
					background-color: #f3f3f3;
					position: absolute;
					bottom: 0px;
					font-size: 30px;
					width: 87px;
					left: 17px;
					height: 44px;
					text-align: center;
					border-radius: 87px 87px 0px 0px;
					line-height: 2;
					font-weight: 700;
					color: #7f8c8c;
				}
			}

			h3 {
				text-align: center;
				color: #7f8c8c;
				font-weight: 700;
				padding-top: 19px;
			}
		}
	}

	.quote_block {
		width: 290px;
		display: inline-block;
		position: relative;
		vertical-align: top;
		font-family: 'Open Sans', sans-serif;

		h1 {
			color: #7f8c8c;
			font-weight: 700;
			font-size: 20px;
			padding-bottom: 30px;
		}

		p {
			background-color: #f8f8f8;
			border-radius: 5px;
			color: #777777;
			font-style: italic;
			padding: 10px 20px;
			line-height: 20px;
			position: relative;
			font-size: 15px;

			&:after {
				content: "";
				position: absolute;
				left: 10px;
				border-width: 36px 0px 0px 32px;
				border-style: solid;
				border-color: #f8f8f8 transparent;
				display: block;
				width: 0;
				left: 15px;
			}
		}

		h2 {
			color: #777777;
			font-size: 18px;
			font-weight: 600;
			padding-left: 55px;
			padding-top: 15px;
		}
	}
}